<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>cavqrz@tznvy.pbz</string>
	<key>contactName</key>
	<string>Patrick Steele-Idem</string>
	<key>description</key>
	<string>Marko</string>
	<key>name</key>
	<string>Marko</string>
	<key>uuid</key>
	<string>AD41DBC2-8FAF-4907-A57C-41FF8A7FBBFD</string>
</dict>
</plist>
