var a=1, b=2; c=10 //test
<var a=1, b=2 c=10 /*test */ />

<div a = 1,d=2> <span></span></div>

function foo() {
	var a = test + 1, c = 1;
}

console.log('test') /*test*/ data-test // test
<console.log('test') /*test*/ data-test=123/>



span ref='test' else('test') ${{test}} a = 1 + 2 b = (1 + 2) -- <div>Hello</div>
span
	// Test
	/*
	*/
	--
	Hello World
	div
span

span
	--
	Hello <b>World</b>
	--
	div
span



<@foo></@foo>
<@for></@for>

<_for></fors>
@foo

<div></div>

div.foo-bar
div.foo-df
div


<i18n-use i18nSampleAppSearchResults="SampleApp/search-results"/>

<div.foo-bar foo="bar"></div>
<div.foo></div>

app-foo

<app-foo include() for(i=1; i<10; i++) test="foo" />

<div.foo>
	<span></span>
</div.foo>

<div.foo>
	<span.bar></span>
</div>

<img src="test"/>