<div></div>

div.foo-bar
div.foo-df
div

<div.foo-bar foo="bar"></div>
<div.foo></div>

app-foo

<app-foo test="foo" />

<div.foo>
	<span></span>
</div.foo>

<div.foo>
	<span.bar></span>
</div>



<img/>